//----------------------------------------------
// My styles
//---------------------------------------------- 
.tempHome {
  width: 47.5%;
  margin: 100px 2.5%;

  @media (max-width: $mq-small) {
    width: 100%;
  }
}