---
layout: default
---
<!-- The main content area -->
<div class="posts">

  <br>
  <blockquote style="padding: 40px;margin:auto;width:75%;background-color:white ">
    <b>Moshi mosh!</b>
    <br>
    My portfolio is still a couple rainy weekend days away from completion. In the meantime, here's a  semi-recent collection of work in slides format.
    <br>
    <br>
    <small><a href="{{ '/keynote' | prepend: site.baseurl }}">Temporary portfolio</a></small>
    
  </blockquote>

  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
