---
layout: default
---
<!-- The main content area -->
<div class="posts">

  <br>
  <div class="grid-large tempHome">
    <!-- <h1>moshi.</h1> -->
    <img src="/assets/images/moshi.png" style="width: 100px;"></img>
    <br>
    <br>
    <div style="width: 50%">
      My portfolio is a couple rainy days away from completion. I've added a couple case studies below, as well as a past presentation with some fancy shmancy VR work:
    </div>
    <br>
    <br>
    <a href="{{ '/keynote' | prepend: site.baseurl }}"><button>View slides</button></a>
    
  </div>

  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
