@font-face { font-family: Butler; src: url('fonts/Butler_Regular.otf'); }
*{
  /*font-family: 'Work Sans', sans-serif;*/
  font-family: Butler;
  font-color: rgba(33,33,33,.7);
  box-sizing: border-box;
  margin:0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgba(33,33,33,.03);
  user-select:none;
}

img {
  margin: 5px 0;
  width:100%;
}

.container{
  position:relative;
  display: flex;
  margin: 0 auto;
  opacity: .7;
  font-size: 12px;
  min-height:100%;
  /*justify-content: center;*/
  flex-direction: row;
  transition: all 1s ease;
}

hr{
  margin: 10px 0;
}

a {
  margin-top: 10px;
  cursor:pointer;
  text-transform: uppercase;
  color:inherit;
  font-weight:bold;
}
a:hover, a:active {opacity:.5;}

#box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:25%;
  padding:2%;
  margin: 0 auto;
}

#subtitle {
  font-size: 8px;
}
#links {
  display: flex;
  flex-direction: column;
}

.main-content{
  background-color:rgba(33,33,33,.05);
  height:100vh;
  width:0%;
  position:absolute;
  right:0px;
  display:none;
  overflow-y: scroll;
  padding:30px;
}

.main-content .top-section {
  display: flex;
}

.main-content .top-section .left{
  width:40%;
  padding: 1em;
}

.main-content a {
  margin:10px 10px 20px;
}

.main-content .body {
  margin:10px;
}

.main-content .subhead {
  margin: 20px 0px 0 0px ;
  text-transform: uppercase;
  opacity:.5;
  font-size: 10px
}

.main-content .twoCol {
  display: flex;
  justify-content: space-between;
  margin-top: 20px
}
.main-content .twoCol .left {
  width: 60%;
}
.main-content .twoCol .right {
  width: 40%;
  padding-left:1em;
  text-align: justify;
}
