<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Black (2018-02-21 14:27)</string>
	<string>M9.0.1-6196-2</string>
	<string>G-r400-4A293</string>
	<string>M9.0.1-6196-2</string>
	<string>M9.0.2-6197-2</string>
</array>
</plist>
